.root {
    -fx-background-color: #3c3f41;
}
.label {
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
}

#labelConsole {
    -fx-font-size: 12;
    -fx-font-fill: white;
    -fx-font-family: "Segoe UI";
    -fx-background-color: #3c3f41;
}

.text-area .content {
    -fx-background-color: #2b2b2b;
}

.text-area {
    -fx-font-size: 12;
    -fx-text-fill: white;
}

.scroll-pane {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #393a3c;
}

.anchor-pane {
    -fx-background-color: #2b2b2b;
    -fx-fill: #2b2b2b;
    -fx-border-color: #393a3c;
}

.menu-bar {
    -fx-background-color: #3c3f41;
    -fx-border-color: #393a3c;
}

.menu-item {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #bbbbbb;
    -fx-border-color: rgba(255, 255, 255, 0);
}

.menu-item:hover {
    -fx-background-color: #4b6eaf;
}